* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    font-family:"Montserrat", Arial, Helvetica, Sans-serif;
    font-size:13px;
    overflow-x:hidden;
}



header {
    height:100px;
    background-color:#000;
    color:#fff;
}

.header {
    max-width:1140px;
    height:100px;
    margin:auto;
    display:flex;
    align-items:center;
}

.logo {
    width:100px;
}

.menu_switch {
    display:none;
}

.menu {
    flex:1;
    display:flex;
    justify-content:flex-end;
}

.menu ul, .menu li {
    list-style:none;
}

.menu ul {
    display:flex;
}

.menu li a {
    color:#fff;
    text-transform:uppercase;
    font-weight:600;
    text-decoration:none;
    display:flex;
    align-items:center;
    padding:0px 10px;
    height:100px;
    border-bottom:5px solid transparent;
}

.menu li a:hover, .menu .active a {
    border-bottom:5px solid #b28756;
    color:#bbb;
}

.button {
    display:inline-block;
    background-color:#b28756;
    color:#fff;
    text-transform:uppercase;
    font-size:12px;
    font-weight:600;
    text-decoration:none;
    padding:10px 30px;
    margin-top:30px;
    border-radius:20px;
}



.banner {
    height:calc(100vh - 100px);
    background-color:#333;
    background-image:url("../images/bg.jpg");
    background-size:cover;
    background-position:bottom;
    overflow:hidden;
}

.banner .sliders {
    width:1000vw;
    height:100%;
}

.banner .slide {
    width:100vw;
    height:100%;
    display:inline-block;
    background-color:rgba(0, 0, 0, 0.8);
}

.banner .slide_area {
    display:flex;
    flex-direction:column;
    height:100%;
    align-items:center;
    justify-content:center;
    color:#fff;
}

.banner h1 {
    text-transform:uppercase;
    font-weight:bold;
    font-size:50px;
}

.banner h1 span {
    color:#b28756;
}

.banner h2 {
    text-transform:uppercase;
    margin-top:20px;
}

.banner .sliders_pointers {
    width:100vw;
    height:20px;
    position:absolute;
    margin-top:-50px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.banner .pointer {
    width:15px;
    height:15px;
    border:2px solid #b28756;
    border-radius:8px;
    margin:0px 5px;
    cursor:pointer;
}

.banner .pointer.active {
    background-color:#b28756;
}



.default {
    padding:50px 0px;
}

.default .section_title,
.default .section_desc {
    text-align:center;
    text-transform:uppercase;
    font-weight:600;
}

.default .section_title {
    font-size:20px;
}

.default .section_desc {
    font-size:12px;
    color:#bbb;
    margin-top:10px;
    margin-bottom:40px;
}

.default .section_body {
    max-width:1140px;
    margin:auto;
}



.default.light {
    background-color:#f7f7f7;
}

.default.light .section_title,
.default.light .section_body {
    color:#000;
}

.default.dark {
    background-color:#000;
}

.default.dark .section_title,
.default.dark .section_body {
    color:#fff;
}

.default.white {
    background-color:#fff;
    border-top:1px solid #bbb;
    border-bottom:1px solid #bbb;
}

.default.white .section_title,
.default.white .section_body {
    color:#000;
}

.slim {
    padding:18px 0px;
}



/*
CSS for specific areas
*/

.section_about_us {
    display:flex;
}

.section_about_us_left {
    flex:1;
}

.section_about_us_left p {
    font-size:14px;
    line-height:25px;
    text-align:justify;
}

.section_about_us_right {
    width:500px;
    text-align:center;
}

.section_about_us_right img {
    width:400px;
    box-shadow:0px 5px 10px #333;
}



.section_services {
    display:flex;
}

.section_service {
    flex:1;
    text-align:center;
    border-right:1px solid #333;
    padding:15px;
}

.section_service:first-child {
    border-left:1px solid #333;
}

.section_service h4 {
    margin-top:20px;
    text-transform:uppercase;
    font-size:18px;
}

.section_service p {
    margin-top:10px;
    font-size:13px;
    color:#999;
}



.section_projects {
    display:flex;
    flex-direction:column;
    align-items:center;
}

.section_projects_filters {
    border:1px solid #bbb;
    background-color:#eee;
    border-radius:30px;
    display:inline-block;
    padding:0px 20px;
}

.section_projects_filters ul, .section_projects_filters li {
    list-style:none;
}

.section_projects_filters li {
    display:inline-block;
    padding:10px;
    text-transform:uppercase;
    font-size:13px;
    border-left:1px solid #bbb;
    color:#555;
    border-bottom:3px solid transparent;
    cursor:pointer;
}

.section_projects_filters li:hover, .section_projects_filters li.active {
    border-bottom:3px solid #b28756;
}

.section_projects_filters li:first-child {
    border-left:none;
}

.section_projects_photos {
    width:100wv;
    max-width:1140px;
    margin-top:20px;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

.section_projects_photo {
    width:280px;
}

.section_projects_photo_area {
    margin:10px;
    width:260px;
    height:160px;
}

.section_projects_photo_area img {
    width:inherit;
    height:inherit;
}

.section_projects_photo_info {
    position:absolute;
    background-color:rgba(0, 0, 0, 0.5);
    width:inherit;
    height:inherit;
    display:none;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:#fff;
}


.section_projects_photo_info h5 {
    font-size:18px;
    font-weight:600;
}

.section_projects_photo_area:hover .section_projects_photo_info {
    display:flex;
}




.bg_team {
    background-image: url("../images/bg.jpg");
    background-size:cover;
    background-position:center;
    padding:0;
}

.section_team_area {
    background-color:rgba(0, 0, 0, 0.8);
    padding:80px 0px;
}

.section_team {
    overflow:hidden;
    max-width:1140px;
    margin:auto;
}

.section_team .sliders {
    width:1000vw;
    height:100%;
}

.section_team .slide {
    width:350px;
    height:100%;
    min-height:400px;
    display:inline-block;
    background-color:#fff;
    margin-right:30px;
}

.section_team .slide_area {
    display:flex;
    flex-direction:column;
    height:100%;
    align-items:center;
    justify-content:center;
    color:#000;
    padding:40px;
}


.section_team_area .sliders_pointers {
    height:20px;
    margin-top:30px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.section_team_area .pointer {
    width:15px;
    height:15px;
    border:2px solid #b28756;
    border-radius:8px;
    margin:0px 5px;
    cursor:pointer;
}

.section_team_area .pointer.active {
    background-color:#b28756;
}

.section_team_avatar {
    width:175px;
    height:auto;
}

.section_team_name {
    text-transform:uppercase;
    font-weight:600;
    font-size:17px;
    margin-top:30px;
}

.section_team_role {
    font-size:14px;
    color:#999;
    margin-top:5px;
}

.section_team_social {
    display:flex;
    margin-top:40px;
}

.section_team_social a {
    display:inline-flex;
    justify-content:center;
    align-items:center;
    width:25px;
    height:25px;
    border-radius:13px;
    background-color:#bbb;
    margin-right:20px;
}

.section_team_social a:nth-last-child(1) {
    margin-right:0;
}

.section_team_social a:hover {
    background-color:#b28756;
}



.section_client {
    display:flex;
    flex-direction:column;
    align-items:center;
}

.client_display {
    display:flex;
    flex-direction:column;
    align-items:center;
}

.client_display_avatar {
    width:150px;
    height:auto;
}

.client_display_name {
    font-weight:700;
    font-size:20px;
    margin-top:20px;
}

.client_display_role {
    font-size:14px;
    font-weight: 600;
    margin-top:3px;
}

.client_quote {
    width:25px;
    height:auto;
    margin-top:20px;
}

.quote {
    display:flex;
    justify-content:center;
}

.quote p {
    width:600px;
    text-align:center;
    margin-top:10px;
    font-size:13px;
    line-height:20px;
}

.section_client .sliders_pointers {
    height:20px;
    margin:30px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.section_client .pointer {
    width:15px;
    height:15px;
    border:2px solid #b28756;
    border-radius:8px;
    margin:0px 5px;
    cursor:pointer;
}

.section_client .pointer.active {
    background-color:#b28756;
}



.section_companies {
    display:flex;
    justify-content:center;
}

.companies {
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    width:1140px;
    max-width:1140px;
}



.section_price {
    display:flex;
    justify-content:space-evenly;
}

.plan_price {
    width:360px;
    height:100%;
    min-height:360px;
    display:inline-block;
    background-color:#fff;
    margin-right:30px;
    text-align:center;
}

.plan_name {
    text-transform:uppercase;
    font-size:16px;
    font-weight:600;
    margin-top:30px;
    margin-bottom:10px;
}

.price {
    font-size:30px;
    font-weight:700;
}

.period {
    text-transform:uppercase;
    font-size:10px;
    color:#bbb;
}

.plan_price ul {
    margin-top:25px;
    font-size:11px;
    list-style:none;
}

.btn_choose {
    display:inline-block;
    background-color:#373737;
    color:#fff;
    text-transform:uppercase;
    font-size:12px;
    font-weight:600;
    text-decoration:none;
    padding:15px 35px;
    margin-top:27px;
    border-radius:20px;
}

.btn_choose.active {
    background-color:#b28756;
}



.premium {
    display:flex;
    flex-direction:column;
    align-items:center;
}

.premium .section_body {
    display:flex;
    justify-content:space-evenly;
    width:1140px;
    border-bottom:1px solid #bbb;
    padding-bottom:40px;
}

.premium .title {
    display:flex;
    align-items:flex-start;
    text-transform:uppercase;
    font-size:22px;
    font-weight:600;
    margin-top:25px;
}

.premium .title img {
    margin-right:30px;
}

.premium .section_text p {
    margin-left:65px;
    line-height:20px;
    color:#999;
}

.premium .section_text ul {
    list-style:none;
    text-transform: uppercase;
    color:#999;
    line-height:20px;
    margin-left:65px;
    margin-top:10px;
}

.premium .sliders_pointers {
    height:20px;
    margin:30px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.premium .pointer {
    width:15px;
    height:15px;
    border:2px solid #b28756;
    border-radius:8px;
    margin:0px 5px;
    cursor:pointer;
}

.premium .pointer.active {
    background-color:#b28756;
}

.premium .button {
    margin-top:0;
}



.section_facts {
    display:flex;
}

.section_fact {
    display:flex;
    flex-direction:column;
    align-items:center;
    flex:1;
    text-align:center;
    padding:15px;
}

.section_fact h3 {
    color: #b28756;
    font-size:50px;
}

.dash_division {
    width:20px;
    height:4px;
    background-color:#777;
}

.section_fact h4 {
    margin-top:20px;
    text-transform:uppercase;
    font-size:18px;
    height:40px;
}

.section_fact p {
    margin-top:10px;
    font-size:13px;
    color:#999;
}



.section_social_media {
    display:flex;
    justify-content:center;
}

.social_links {
    display:flex;
    width:700px;
    justify-content:space-around;
}

.social_links .tell_about, .social_links a {
    display:flex;
    align-items:center;
    text-decoration:none;
    text-transform:uppercase;
    font-weight:600;
    color:#999;
}

.social_links img {
    margin:0px 5px;
}



form {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
    height:400px;
}

.form_line {
    display:flex;
    justify-content:space-between;
}

.form_line .field {
    text-transform: uppercase;
    border-bottom:2px solid #bbb;
    width:300px;
    padding:10px 0px;
    font-weight:600;
    color:#999;
}

.form_line .field:nth-last-child(1) {
    margin-left:30px;
}

.form_line .field input, .field_subject input {
    border:none;
    outline:none;
    background-color:#f7f7f7;
    color:#373737;
    width:245px;
    font-weight:600;
    margin-left:10px;
}

.field_subject, .field_message {
    text-transform: uppercase;
    border-bottom:2px solid #bbb;
    width:630px;
    padding:10px 0px;
    font-weight:600;
    color:#999;
}

.field_subject input {
    width:550px;
}

.field_message textarea {
    border:none;
    outline:none;
    resize:none;
    overflow:auto;
    height:100px;
    background-color:#f7f7f7;
    color:#373737;
    width:550px;
    font-weight:600;
    margin-left:10px;
}



.section_map {
    background-image:url(/assets/images/mapa.jpg);
    background-size:cover;
    background-position:center;
    padding:30px 0px;
}

.section_map_area {
    width:100vw;
    max-width:1140px;
    margin:auto;
}

.section_map_info {
    width:50%;
    padding:30px;
    background-color:#fff;
    color:#999;
}

.map_info_item {
    display:flex;
    align-items: center;
    margin-bottom:15px;
}

.map_info_item:last-child {
    margin-bottom:0;
}

.info_item_img {
    width:30px;
    height:30px;
    display:inline-flex;
    justify-content:center;
    align-items:center;
    padding:5px;
    background-color:#999;
    border-radius:15px;
    margin-right:15px;
}

.map_info_item img {
    width:18px;
    height:auto;
}



.section_footer {
    display:flex;
}

.section_footer_social, .section_footer_text, .section_footer_subscribe {
    flex:1;
}

.section_footer_social {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    font-weight:600;
}

.footer_social_links a {
    display:inline-flex;
    justify-content:center;
    align-items:center;
    width:30px;
    height:30px;
    background-color:#373737;
    border-radius:15px;
    margin-right:10px;
}

.footer_social_links a.active {
    background-color: #b28756;
}

.section_footer_text {
    color:#999;
    line-height:20px;
    padding:0px 10px;
}

.section_footer_subscribe {
    display:flex;
    flex-direction:column;
    justify-content:center;
    background-color:#373737;
    border-radius:5px;
}

.subscribe_form {
    height:auto;
}

.field_subscribe input {
    border:none;
    outline:none;
    text-align:center;
    background-color:#373737;
    color:#f7f7f7;
    width:250px;
    border-bottom:2px solid #ccc;
    padding-bottom:10px;
}

.field_subscribe input::placeholder {
    text-transform:uppercase;
    color:#999;
    font-weight:600;
}





@media (min-width:450px) and (max-width:800px) {
    .logo {
        margin-left:30px;
    }
    .menu_switch {
        display:block;
        width:45px;
        margin-right:30px;
    }

    nav {
        display:none;
        position:absolute;
        z-index:999;
        background-color:rgba(0, 0, 0, 0.9);
        width:70vw;
        height:calc(100vh - 100px);
        top:100px;
        right:0;
    }
    .menu ul {
        flex-direction:column;
    }

    .menu li a {
        font-weight:bold;
        height:80px;
        font-size:26px;
        margin-right:50px;
        border:none;
    }
    .menu li.active a {
        border:none;
        color:#b28756;
    }

    .section_about_us {
        flex-direction:column;
    }
    .section_about_us_left {
        margin:0px 30px;
        margin-bottom:30px;
    }
    .section_about_us_right {
        width:auto;
    }

    .section_services {
        flex-wrap:wrap;
        margin:0px 20px;
    }
    .section_service {
        min-width:50%;
        margin-bottom:30px;
    }
    .section_service:nth-child(3) {
        border-left:1px solid #333;
    }

    .section_team {
        max-width:750px;
    }
    .section_team .sliders:first-child {
        margin-left:10px;
    }

    .section_price:first-child {
        margin-left:30px;
    }

    .premium .section_body {
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }

    .section_fact h4 {
        height:80px;
    }

    .section_map {
        padding:0;
        padding-bottom:300px;
    }
    .section_map_info {
        width:100%;
    }
    .map_info_item {
        margin-bottom:20px;
    }

    .section_footer {
        padding:0px 20px;
    }
    .field_subscribe input {
        width:200px;
    }
}

@media (max-width:450px) {
    .logo {
        margin-left:30px;
    }
    .menu_switch {
        display:block;
        width:45px;
        margin-right:30px;
    }

    nav {
        display:none;
        position:absolute;
        z-index:999;
        background-color:rgba(0, 0, 0, 0.9);
        width:70vw;
        height:calc(100vh - 100px);
        top:100px;
        right:0;
    }
    .menu ul {
        flex-direction:column;
    }

    .menu li a {
        font-weight:bold;
        height:60px;
        font-size:20px;
        margin-right:30px;
        border:none;
    }
    .menu li.active a {
        border:none;
        color:#b28756;
    }

    .banner h1 {
        font-size:30px;
    }
    .banner h2 {
        font-size:18px;
    }

    .section_about_us {
        flex-direction:column;
    }
    .section_about_us_left {
        margin:0px 30px;
        margin-bottom:30px;
    }
    .section_about_us_right {
        margin:0px 30px;
        width:auto;
    }
    .section_about_us_right img {
        width:100%;
    }

    .section_services {
        flex-wrap:wrap;
        margin:0px 20px;
    }
    .section_service {
        min-width:100%;
        margin-bottom:30px;
        border:none;
    }
    .section_service:nth-child(1) {
        border:none;
    }

    .section_projects_filters {
        margin:0px 30px;
    }
    .section_projects_photo {
        width:320px;
    }
    .section_projects_photo_area {
        width:300px;
        height:190px;
    }

    .section_team {
        max-width:300px;
    }
    .section_team .sliders:first-child {
        margin-left:0px;
    }
    .section_team .slide {
        width:300px;
        margin-right:30px;
    }

    .section_client p {
        max-width:300px;
    }

    .section_companies .companies {
        max-width:280px;
        overflow:hidden;
        transform: translateX(5%);
    }
    .section_companies .companies img {
        margin:0px 20px;
    }

    .section_price {
        flex-direction:column;
        align-items:center;
    }
    .section_price:first-child {
        margin-left:0;
    }
    .section_price .plan_price {
        margin:0;
        margin-bottom:20px;
        max-width:320px;
    }

    .premium .section_body {
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }
    .premium .section_body img {
        max-width:300px;
        height:auto;
    }
    .premium .section_text {
        max-width:300px;
    }

    .section_facts {
        flex-direction:column;
    }
    .section_fact h4 {
        height:80px;
    }

    .section_social_media .social_links {
        flex-wrap:wrap;
        max-width:350px;
    }
    .section_social_media .social_links .tell_about {
        margin:0px 80px;
        margin-bottom:10px;
    }

    form .form_line {
        flex-direction:column;
        height:95px;
    }
    .form_line .field:nth-last-child(1) {
        margin:0;
    }
    form .field_subject, form .field_message {
        display:flex;
        max-width:300px;
    }
    .field_subject input {
        max-width:245px;
    }
    .field_message {
      align-items: flex-end;
    }
    .field_message textarea {
        max-width:245px;
    }

    .section_map {
        padding:0;
        padding-bottom:300px;
    }
    .section_map_info {
        width:100%;
    }
    .map_info_item {
        margin-bottom:20px;
    }


    .section_footer {
        flex-direction:column;
        padding:0px 20px;
    }
    .section_footer_subscribe {
        order:-1;
        margin-bottom:20px;
    }
    .section_footer_subscribe form {
        justify-content:center;
        height:200px;
    }
    .section_footer_social {
        align-items:center;
        margin-bottom:20px;
    }
    .section_footer_social p {
        position:relative;
        top:270px;
    }
    .field_subscribe input {
        width:300px;
    }
}
